---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/96224792/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"98b2eedd9e9ee135485ba85d28b450c651d560c871f6364543b8f4a0"'
      Last-Modified:
      - Wed, 15 Sep 2021 14:23:03 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '41'
      X-Esi-Request-Id:
      - e0829bc1-f631-48f6-9fdd-4f9b24e471c1
    body:
      encoding: ASCII-8BIT
      string: '{"birthday":"2016-02-12T09:08:06Z","bloodline_id":2,"corporation_id":1000167,"description":"u''<font
        size=\"12\" color=\"#bfffffff\">-------------<\/font><font size=\"12\" color=\"#ff00ff00\">\\ufeda\\ufef4\\ufeb3
        \\ufef1\\ufe8e\\ufeeb \\ufeac\\ufed8\\ufee8\\ufee3 \\u060c\\u0663\\u0661\\u0665
        \\ufeb2\\ufee4\\ufef4\\ufe9f \\ufee2\\ufeb3\\ufe8e\\ufe91<\/font><font size=\"12\"
        color=\"#bfffffff\">-------------<br>    I FOLLOW THE NEW HALAIMA CODE OF
        CONDUCT<br>  ** Mining Permit Holder: 14.02.2016 - 14.02.2017 **<br>          Agent:  <\/font><font
        size=\"12\" color=\"#ffffa600\"><loc><a href=\"showinfo:1374\/\/94645549\">Salah
        ad-Din al-Jawahiri<\/a><\/loc><\/font><font size=\"12\" color=\"#bfffffff\">
        <br>    <\/font><font size=\"12\" color=\"#ffffa600\"><loc><a href=\"http:\/\/www.minerbumping.com\/p\/the-code.html\">http:\/\/www.minerbumping.com\/p\/the-code.html<\/a><\/loc><br><\/font><font
        size=\"12\" color=\"#bfffffff\">---------------------------------------------------<\/font>''","gender":"male","name":"Mitani","race_id":1,"security_status":0.0}'
  recorded_at: Wed, 15 Sep 2021 22:22:19 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/96224792/corporationhistory/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"c3f408ca0e711d4e3754e248c29e92bdc8b9a9aa45032a8bedd1bd49"'
      Last-Modified:
      - Wed, 15 Sep 2021 14:23:03 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '40'
      X-Esi-Request-Id:
      - 77da4a17-f526-46ba-9e4e-caa5a63bdee6
    body:
      encoding: ASCII-8BIT
      string: '[{"corporation_id":1000167,"record_id":41078283,"start_date":"2016-02-12T09:08:00Z"}]'
  recorded_at: Wed, 15 Sep 2021 22:22:20 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/96224792/portrait/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"c3e85bae80f1282ea81ae7776fca8162c5e64a03fcdb38e4173cbf56"
      Last-Modified:
      - Tue, 14 Sep 2021 11:14:00 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '40'
      X-Esi-Request-Id:
      - 503d6910-a232-4c3f-a250-8905a7101e5b
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/characters\/96224792\/portrait?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/characters\/96224792\/portrait?tenant=tranquility&size=256","px512x512":"https:\/\/images.evetech.net\/characters\/96224792\/portrait?tenant=tranquility&size=512","px64x64":"https:\/\/images.evetech.net\/characters\/96224792\/portrait?tenant=tranquility&size=64"}'
  recorded_at: Wed, 15 Sep 2021 22:22:20 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/1000167/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"0f5ff438a5b171a5021e43e40968cb646d1af427ca390e5af8e80ac9"'
      Last-Modified:
      - Wed, 15 Sep 2021 21:29:04 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '40'
      X-Esi-Request-Id:
      - 7c2b334c-902e-4af1-ad34-afc111d0afba
    body:
      encoding: ASCII-8BIT
      string: '{"ceo_id":3004193,"creator_id":1,"description":"The State War Academy
        was founded shortly after the Caldari State came into being while the war
        with the Gallente Federation was still in full swing. Due to this, the academy
        has always had a very combat oriented slant, as opposed to the broader scope
        of ship handling.","home_station_id":60014659,"member_count":2419175,"name":"State
        War Academy","shares":100000000,"tax_rate":0.10999999940395355,"ticker":"SWA","url":""}'
  recorded_at: Wed, 15 Sep 2021 22:22:20 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/1000167/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"c8701c8de6c3ea967c5ee06f725ea8e9d5167019437652b7cd7fefb9"'
      Last-Modified:
      - Wed, 15 Sep 2021 22:22:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '40'
      X-Esi-Request-Id:
      - dcb2afa6-5618-4bf3-ad80-2d5a1ae9c30a
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/corporations\/1000167\/logo?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/corporations\/1000167\/logo?tenant=tranquility&size=256","px64x64":"https:\/\/images.evetech.net\/corporations\/1000167\/logo?tenant=tranquility&size=64"}'
  recorded_at: Wed, 15 Sep 2021 22:22:20 GMT
recorded_with: VCR 6.0.0
