---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/96224792
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"5a003dd4c3afa0cab5628448bf93759ffe7023ba29ad04b610705926"'
      Last-Modified:
      - Wed, 14 Jul 2021 19:47:24 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '25'
      X-Esi-Request-Id:
      - a5c2f96a-1783-4936-a2ae-b8bb55678d53
    body:
      encoding: UTF-8
      string: '{"ancestry_id":7,"birthday":"2016-02-12T09:08:06Z","bloodline_id":2,"corporation_id":1000167,"description":"u''<font
        size=\"12\" color=\"#bfffffff\">-------------<\/font><font size=\"12\" color=\"#ff00ff00\">\\ufeda\\ufef4\\ufeb3
        \\ufef1\\ufe8e\\ufeeb \\ufeac\\ufed8\\ufee8\\ufee3 \\u060c\\u0663\\u0661\\u0665
        \\ufeb2\\ufee4\\ufef4\\ufe9f \\ufee2\\ufeb3\\ufe8e\\ufe91<\/font><font size=\"12\"
        color=\"#bfffffff\">-------------<br>    I FOLLOW THE NEW HALAIMA CODE OF
        CONDUCT<br>  ** Mining Permit Holder: 14.02.2016 - 14.02.2017 **<br>          Agent:  <\/font><font
        size=\"12\" color=\"#ffffa600\"><loc><a href=\"showinfo:1374\/\/94645549\">Salah
        ad-Din al-Jawahiri<\/a><\/loc><\/font><font size=\"12\" color=\"#bfffffff\">
        <br>    <\/font><font size=\"12\" color=\"#ffffa600\"><loc><a href=\"http:\/\/www.minerbumping.com\/p\/the-code.html\">http:\/\/www.minerbumping.com\/p\/the-code.html<\/a><\/loc><br><\/font><font
        size=\"12\" color=\"#bfffffff\">---------------------------------------------------<\/font>''","gender":"male","name":"Mitani","race_id":1,"security_status":0.0}'
  recorded_at: Wed, 14 Jul 2021 20:05:35 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/96224792/corporationhistory
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"c3f408ca0e711d4e3754e248c29e92bdc8b9a9aa45032a8bedd1bd49"'
      Last-Modified:
      - Wed, 14 Jul 2021 19:47:24 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '24'
      X-Esi-Request-Id:
      - d6b5a803-1e67-47b1-ab99-415a06db40fb
    body:
      encoding: UTF-8
      string: '[{"corporation_id":1000167,"record_id":41078283,"start_date":"2016-02-12T09:08:00Z"}]'
  recorded_at: Wed, 14 Jul 2021 20:05:36 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/1000167
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"f76dd34adfd054f61dacca59d572d4a53d05a5267fcc193d31d2080a"'
      Last-Modified:
      - Wed, 14 Jul 2021 19:25:50 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '24'
      X-Esi-Request-Id:
      - f732be32-dc23-402e-ba24-7b132568e130
    body:
      encoding: UTF-8
      string: '{"ceo_id":3004193,"creator_id":1,"description":"The State War Academy
        was founded shortly after the Caldari State came into being while the war
        with the Gallente Federation was still in full swing. Due to this, the academy
        has always had a very combat oriented slant, as opposed to the broader scope
        of ship handling.","home_station_id":60014659,"member_count":2397022,"name":"State
        War Academy","shares":100000000,"tax_rate":0.10999999940395355,"ticker":"SWA","url":""}'
  recorded_at: Wed, 14 Jul 2021 20:05:36 GMT
recorded_with: VCR 6.0.0
