---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2113024536/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"4b135d3e8d3afe6d1b1521457942c981e39e3cf980632611b78a6bb9"'
      Last-Modified:
      - Wed, 15 Sep 2021 16:13:48 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '49'
      X-Esi-Request-Id:
      - 78247482-7114-4bba-8a12-19940349defe
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99003214,"birthday":"2017-07-20T16:28:17Z","bloodline_id":13,"corporation_id":98624572,"description":"","gender":"male","name":"Bokobo
        Shahni","race_id":4,"security_status":0.7826388230000001}'
  recorded_at: Wed, 15 Sep 2021 23:38:11 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2113024536/corporationhistory/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6bb6b4bf09621cc35ad9d5264268aebcb9af67b324ace08c08fda5cb"'
      Last-Modified:
      - Wed, 15 Sep 2021 04:12:46 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '49'
      X-Esi-Request-Id:
      - dc66b7c0-3771-4a5b-bc03-f12a10e147d2
    body:
      encoding: ASCII-8BIT
      string: '[{"corporation_id":98624572,"record_id":56317991,"start_date":"2021-08-22T01:18:00Z"},{"corporation_id":98169165,"record_id":54311552,"start_date":"2020-11-11T01:58:00Z"},{"corporation_id":98660671,"is_deleted":true,"record_id":54098671,"start_date":"2020-10-15T14:46:00Z"},{"corporation_id":1000080,"record_id":54098651,"start_date":"2020-10-15T14:44:00Z"},{"corporation_id":98524825,"record_id":45588552,"start_date":"2017-08-08T02:17:00Z"},{"corporation_id":1000077,"record_id":45473232,"start_date":"2017-07-20T16:28:00Z"}]'
  recorded_at: Wed, 15 Sep 2021 23:38:11 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2113024536/portrait/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"c3e85bae80f1282ea81ae7776fca8162c5e64a03fcdb38e4173cbf56"
      Last-Modified:
      - Tue, 14 Sep 2021 11:14:00 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '49'
      X-Esi-Request-Id:
      - 5474d719-2ed1-477b-b6d6-3500f84049ad
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/characters\/2113024536\/portrait?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/characters\/2113024536\/portrait?tenant=tranquility&size=256","px512x512":"https:\/\/images.evetech.net\/characters\/2113024536\/portrait?tenant=tranquility&size=512","px64x64":"https:\/\/images.evetech.net\/characters\/2113024536\/portrait?tenant=tranquility&size=64"}'
  recorded_at: Wed, 15 Sep 2021 23:38:11 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99003214/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"20586886495c1f21c4522323fc69ab262101e36c35b92bdb8164763c"'
      Last-Modified:
      - Wed, 15 Sep 2021 23:00:58 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '48'
      X-Esi-Request-Id:
      - 16029c5d-a703-460b-851c-197ee1036fc9
    body:
      encoding: ASCII-8BIT
      string: '{"creator_corporation_id":98199293,"creator_id":91432281,"date_founded":"2013-05-06T22:20:14Z","executor_corporation_id":98199293,"name":"Brave
        Collective","ticker":"BRAVE"}'
  recorded_at: Wed, 15 Sep 2021 23:38:11 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99003214/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"c3e85bae80f1282ea81ae7776fca8162c5e64a03fcdb38e4173cbf56"
      Last-Modified:
      - Tue, 14 Sep 2021 11:14:00 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '48'
      X-Esi-Request-Id:
      - f4d89528-ccc6-472f-a941-ddc46f771f66
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/Alliance\/99003214_128.png","px64x64":"https:\/\/images.evetech.net\/Alliance\/99003214_64.png"}'
  recorded_at: Wed, 15 Sep 2021 23:38:11 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98624572/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"df674b837ef67e7f7018bf2697a4b8fb52b2b03b8eb3f3097f7fbf5b"'
      Last-Modified:
      - Wed, 15 Sep 2021 23:30:00 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '48'
      X-Esi-Request-Id:
      - 1b16c3ae-df38-44c1-8a3b-f3fd2bbcfded
    body:
      encoding: ASCII-8BIT
      string: '{"alliance_id":99003214,"ceo_id":2112021314,"creator_id":2113960331,"date_founded":"2019-12-18T02:15:42Z","description":"<font
        size=\"13\" color=\"#ff999999\"><\/font><font size=\"13\" color=\"#b3ffffff\">New\/returning
        to the game - no problem, our directors and members are always available to
        help with anything. Busy and cant play as much as you would like to, real
        life comes first for those in our corp. We do everything in game in either
        our High or Null sec corp.<br><br>Join our Discord Public Channel: <\/font><font
        size=\"13\" color=\"#ffffe400\"><a href=\"https:\/\/discord.gg\/pydbTcY\">https:\/\/discord.gg\/pydbTcY<\/a><\/font><font
        size=\"13\" color=\"#b3ffffff\"> <br><br>Eve for us is a way to spend our
        extra time, its not a job. So come and pew pew, or munch on some rocks, enjoy
        yourself, it is a game after all.<\/font>","home_station_id":60003466,"member_count":1038,"name":"Industrial
        Mining and Mayhem","shares":1000,"tax_rate":0.10000000149011612,"ticker":"MAYEM","url":"https:\/\/wiki.bravecollective.com\/public\/corps\/industrial_mining_and_mayhem\/start","war_eligible":true}'
  recorded_at: Wed, 15 Sep 2021 23:38:11 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98624572/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"f9a82e34f8c61fc1db064264a2d985b1e19bbe4ae1044e418dcd2a16"'
      Last-Modified:
      - Wed, 15 Sep 2021 23:34:14 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '48'
      X-Esi-Request-Id:
      - 37b79ba4-e304-46f6-acb1-8fdb50eda9ec
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/corporations\/98624572\/logo?tenant=tranquility&size=128","px256x256":"https:\/\/images.evetech.net\/corporations\/98624572\/logo?tenant=tranquility&size=256","px64x64":"https:\/\/images.evetech.net\/corporations\/98624572\/logo?tenant=tranquility&size=64"}'
  recorded_at: Wed, 15 Sep 2021 23:38:12 GMT
[...]
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99003214/icons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - W/"c3e85bae80f1282ea81ae7776fca8162c5e64a03fcdb38e4173cbf56"
      Last-Modified:
      - Tue, 14 Sep 2021 11:14:00 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '48'
      X-Esi-Request-Id:
      - 858263aa-838a-4b1d-b294-011db6a70748
    body:
      encoding: ASCII-8BIT
      string: '{"px128x128":"https:\/\/images.evetech.net\/Alliance\/99003214_128.png","px64x64":"https:\/\/images.evetech.net\/Alliance\/99003214_64.png"}'
  recorded_at: Wed, 15 Sep 2021 23:38:12 GMT
recorded_with: VCR 6.0.0
