---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2113024536
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"6da92185cd28c5ad47df496bfe40dc61cdd19fc26551dd338ae0614d"'
      Last-Modified:
      - Wed, 14 Jul 2021 16:48:42 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '26'
      X-Esi-Request-Id:
      - 981860ac-3896-4cba-b371-6be76f155aaa
    body:
      encoding: UTF-8
      string: '{"alliance_id":99003214,"ancestry_id":37,"birthday":"2017-07-20T16:28:17Z","bloodline_id":13,"corporation_id":98169165,"description":"","gender":"male","name":"Bokobo
        Shahni","race_id":4,"security_status":0.7826388230000001}'
  recorded_at: Wed, 14 Jul 2021 21:32:34 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/characters/2113024536/corporationhistory
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"1de572cc5997e98d6f2085998cb0f50adffbe0ed6bc88aadfa82a799"'
      Last-Modified:
      - Wed, 14 Jul 2021 14:27:43 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '26'
      X-Esi-Request-Id:
      - e649ca13-29b2-4057-9cf0-8e03672691f5
    body:
      encoding: UTF-8
      string: '[{"corporation_id":98169165,"record_id":54311552,"start_date":"2020-11-11T01:58:00Z"},{"corporation_id":98660671,"is_deleted":true,"record_id":54098671,"start_date":"2020-10-15T14:46:00Z"},{"corporation_id":1000080,"record_id":54098651,"start_date":"2020-10-15T14:44:00Z"},{"corporation_id":98524825,"record_id":45588552,"start_date":"2017-08-08T02:17:00Z"},{"corporation_id":1000077,"record_id":45473232,"start_date":"2017-07-20T16:28:00Z"}]'
  recorded_at: Wed, 14 Jul 2021 21:32:34 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/alliances/99003214
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"20586886495c1f21c4522323fc69ab262101e36c35b92bdb8164763c"'
      Last-Modified:
      - Wed, 14 Jul 2021 21:10:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '26'
      X-Esi-Request-Id:
      - a278291e-633d-42d3-9d47-b09363aeb98c
    body:
      encoding: UTF-8
      string: '{"creator_corporation_id":98199293,"creator_id":91432281,"date_founded":"2013-05-06T22:20:14Z","executor_corporation_id":98199293,"name":"Brave
        Collective","ticker":"BRAVE"}'
  recorded_at: Wed, 14 Jul 2021 21:32:34 GMT
- request:
    method: get
    uri: https://esi.evetech.net/latest/corporations/98169165
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Etag:
      - '"22b3191234169d08c0222d1191b7bc3170954dfdd48095985fbec0a6"'
      Last-Modified:
      - Wed, 14 Jul 2021 21:31:10 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '25'
      X-Esi-Request-Id:
      - c0490397-5a6d-40c2-a6e9-aca9047e9f0c
    body:
      encoding: UTF-8
      string: '{"alliance_id":99003214,"ceo_id":92888420,"creator_id":92838890,"date_founded":"2013-01-30T23:39:04Z","description":"<font
        size=\"13\" color=\"#ff999999\"><\/font><font size=\"12\" color=\"#bfffffff\">Audaces
        Fortuna Juvat<br><br>Join us and play EVE like it was meant to be played.<br><br>CEO:  <\/font><font
        size=\"12\" color=\"#ffd98d00\"><a href=\"showinfo:1375\/\/92888420\">Cagali
        Cagali<\/a><\/font><font size=\"12\" color=\"#bfffffff\"> <br>Directors:  <\/font><font
        size=\"12\" color=\"#ffd98d00\"><a href=\"showinfo:1375\/\/1065781147\">Jinx
        De''Caire<\/a><\/font><font size=\"12\" color=\"#bfffffff\"> <br><\/font><font
        size=\"12\" color=\"#ffd98d00\"><a href=\"showinfo:1375[...]
