<!-- Static sidebar for desktop -->
<div class="hidden md:flex md:flex-shrink-0">
  <div class="flex flex-col w-64">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex flex-col flex-1 h-0">
      <div class="flex items-center flex-shrink-0 h-16 px-4 bg-gray-900">
        <%= image_pack_tag 'brave-logo.png', class: 'h-8 w-auto mx-auto' %>
      </div>
      <div class="flex flex-col flex-1 overflow-y-auto">
        <nav class="flex-1 px-2 py-4 space-y-1 bg-gray-800">
          <%= render partial: 'side_nav_link', locals: { current: current_nav?('dashboard'), text: 'Dashboard', icon: 'home', url: dashboard_path } %>
          <%= render partial: 'side_nav_link', locals: { current: current_nav?('series'), text: 'Series', icon: 'mail', url: series_index_path } %>
          <%= render partial: 'side_nav_link', locals: { current: current_nav?('corporations'), text: 'Corporations', icon: 'office-building', url: corporations_path } %>
          <%#= render partial: 'side_nav_link', locals: { current: current_nav?('reports'), text: 'Reports', icon: 'chart-bar', url: reports_path } %>
        </nav>
      </div>
    </div>
  </div>
</div>
