<%= render partial: 'shared/form_validations', locals: { model: @series } %>

<%= form_with model: @series do |f| %>
  <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:px-6">
      <h1 class="text-2xl font-bold text-gray-900">New Series</h1>
    </div>
    <div class="space-y-6 px-4 py-5 sm:p-6">
      <%= render partial: 'series/form', locals: { f: f } %>
    </div>
    <div class="bg-gray-50 px-4 py-4 sm:px-6">
      <div class="text-right">
        <%= f.submit 'Save', class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
      </div>
    </div>
  </div>
<% end %>
